
<table style="width:100%">
  <tr>
    <th>Event Name</th>
    <th>Event Description</th>
    <th>Event Date</th>
    <th>Event Start Time</th>
    <th>Event End Time</th>
    <th>Event Status</th>
    <th>Action</th>
  </tr>

  <tr *ngFor="let event of EventList">
    <td>{{event.eventName}}</td>
    <td>{{event.eventDescription}}</td>
    <td>{{event.eventDate | date: "dd/MM/yyyy"}}</td>
    <td>{{event.eventStartTime}}</td>
    <td>{{event.eventEndTime}}</td>
    <td>{{event.eventCompleted}}</td>
    <td><fa-icon [icon]="faPencilAlt"></fa-icon></td>
    <td><fa-icon [icon]="faTrashAlt"></fa-icon></td>
  </tr>

</table>
<br><br>
<mat-divider></mat-divider>
<button mat-flat-button color="primary" (click)="closeDialog()" >Close</button>
