<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3 ">
        <app-event-to-day></app-event-to-day>
      </div>
      <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9 app-title">
        <h1>Event Shedueler</h1>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-10 ">
        <div class="next-event">
            <app-next-event></app-next-event>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2 ">
        <div class="add-event">
          <app-event-action-button></app-event-action-button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 ">
        <div class="calender">
          <app-event-calender></app-event-calender>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 ">
        <div class="event-list">
          <app-event-list> </app-event-list>
        </div>
      </div>
    </div>
  </div>
</div>
