/*div{*/
/*  border-left: 5px red solid;*/
/*}*/

.main-container{
  height: 100%;
}


.app-title{
  font-family: "Helvetica Neue";
  font-weight: bold;
  padding: 10px;
  font-size: 40px;
  position: center;
  text-align: center;
}

/*@media only screen and (min-width: 600px) {*/
/*  .container-fluid {*/
/*    margin: 10px auto;*/
/*    border: 80px red solid;*/
/*    width: 100%;*/
/*    height: 90%;*/
/*    background-color:darkorchid;*/
/*  }*/
/*}*/

.container-fluid {
  margin: 10px auto;
  border: 1px yellow solid;
  width: 95%;
  height: 90%;
  background-color:white;
}
.row{
  border: 1px green solid;
}

.next-event{
  height: 5rem;
  margin: 10px auto;
  background-color: #2ecc71;
}

.add-event{
  height: 5rem;
  margin: 10px auto;
}

.calender{
  height: auto;
  margin: 10px auto;
  overflow: hidden;
  font-weight: bold;
  background-color: #7b47ba;
}
.calender-col,.action-col, .next-event-col, .event-list-col, .app-title-col, .app-event-today-col{
  background-color: #fdd387;
}

.event-list{
  height: 100%;
}
.event-list-row{
  height: 73%;
}
