div{
  border: 1px red solid;
}

.main-container{
  height: 100%;
}
.app-title{
  background-color: coral;
}
.container {
  margin: 10px auto;
  border: 1px yellow solid;
  background-color: rgba(255,255,255,1);
}
.row{
  border: 1px green solid;
}

.next-event{
  height: 5rem;
  margin: 10px auto;
  background-color: #2ecc71;
}

.add-event{
  height: 5rem;
  margin: 10px auto;
  background-color: lawngreen;
}

.calender{
  height: auto;
  margin: 10px auto;
  overflow: hidden;
}
