<table style="width:100%">
  <tr>
    <th>Event Name</th>
    <th>Event Description</th>
    <th>Event Date</th>
    <th>Event Start Time</th>
    <th>Event End Time</th>
    <th>Event Status</th>
    <th>Action</th>
  </tr>
  <tr>
    <td>{{eventModel.eventId}}</td>
    <td>{{eventModel.eventName}}</td>
    <td>{{eventModel.eventDescription}}</td>
    <td>{{eventModel.eventDate}}</td>
    <td>{{eventModel.eventStartTime}}</td>
    <td>{{eventModel.eventEndTime}}</td>
    <td>{{eventModel.eventCompleted}}</td>
  </tr>
</table>
