
  <table style="width:100%">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Date</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let eventModel of EventList">
      <td>{{eventModel.eventId}}</td>
      <td>{{eventModel.eventName}}</td>
      <td>{{eventModel.eventDescription}}</td>
      <td>{{eventModel.eventDate | date: "dd/MM/yyyy"}}</td>
      <td>{{eventModel.eventStartTime}}</td>
      <td>{{eventModel.eventEndTime}}</td>
      <td>{{eventModel.eventCompleted}}</td>
    </tr>
  </table>


